*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search{
     color: tomato; 
     /* background: #9e0000;   */
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(131, 131, 237);
    height: 60px;
}